<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
        <property name="connection.url">jdbc:derby:./XHomeServerDB;create=true</property>
        <!--<property name="connection.username">testdrive</property>-->
        <!-- <property name="connection.password">password</property>-->
        
        <property name="hibernate.default_schema">APP</property>
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.DerbyDialect</property>
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        <!-- Disable the second-level cache -->
    
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.EhCacheRegionFactory</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="net.sf.ehcache.configurationResourceName">ehcache.xml</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>
        <property name="generateDdl">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.connection.autocommit">true</property>
        
        
        <mapping class="de.xatc.commons.db.sharedentities.atcdata.Country"/>
        <mapping class="de.xatc.commons.db.sharedentities.atcdata.Fir"/>
        <mapping class="de.xatc.commons.db.sharedentities.atcdata.PlainAirport"/>
        <mapping class="de.xatc.commons.db.sharedentities.atcdata.AirportStation"/>

        <mapping class="de.xatc.commons.db.sharedentities.aptmodel.AptAirport"/>
        <mapping class="de.xatc.commons.db.sharedentities.aptmodel.AptFileEntity"/>
        <mapping class="de.xatc.commons.db.sharedentities.aptmodel.IndexUpdatedEntity"/>
        <mapping class="de.xatc.commons.db.sharedentities.aptmodel.NavDataEntity"/>
        
        
   
        <mapping class="de.xatc.commons.networkpackets.atc.stations.SupportedATISStation"/>
        <mapping class="de.xatc.commons.networkpackets.atc.stations.SupportedAirportStation"/>
        <mapping class="de.xatc.commons.networkpackets.atc.stations.SupportedFirStation"/>
        <mapping class="de.xatc.commons.networkpackets.atc.stations.SupportedStationStatistics"/>
        
        <mapping class="de.xatc.commons.networkpackets.client.TextMessagePacket"/>
   
    </session-factory>
</hibernate-configuration>
